html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  text-align: left;
  color: #333;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .Toastify__toast-container {
    width: 90% !important;    
    left: 5% !important;    
    right: 5% !important;      
    top: 5% !important;       
    gap: 0.5rem !important;  
  }

  .toastify-body {
    font-size: 13px;
  }
}
